# Read City text file

In [119]:
def show_text(fileName, n_line):
    f = open(fileName, "r")
    for i in range(n_line):
        print(f.readline())
    f.close()

In [129]:
show_text("PM2.5_kaggle 2021/Bangkok/Train/Bangkok.txt",40)

% Country: Thailand

% City: Bangkok

% City (ASCII): Bangkok

% Region: Bangkok

% Region (ASCII): Bangkok

% Population: 5104476

% Latitude: 13.754

% Longitude: 100.5014

% Time Zone: Asia/Bangkok

% Year, Month, Day, UTC Hour, PM2.5, PM10_mask, Retrospective

2016	3	3	8	62.9	1.00	0

2016	3	3	9	62.9	1.00	0

2016	3	3	10	55.5	1.00	0

2016	3	3	11	55.5	1.00	0

2016	3	3	12	47.9	1.00	0

2016	3	3	13	43.6	1.00	0

2016	3	3	14	28.6	1.00	0

2016	3	3	15	33.6	1.00	0

2016	3	3	16	34.8	1.00	0

2016	3	3	17	31.3	1.00	0

2016	3	3	19	42.1	1.00	0

2016	3	3	20	38.6	1.00	0

2016	3	3	21	45.5	1.00	0

2016	3	3	22	49.9	1.00	0

2016	3	3	23	44.1	1.00	0

2016	3	4	0	42.1	1.00	0

2016	3	4	1	43.1	1.00	0

2016	3	4	2	44.8	1.00	0

2016	3	4	3	37.5	1.00	0

2016	3	4	4	39.6	1.00	0

2016	3	4	5	46.0	1.00	0

2016	3	4	6	43.8	1.00	0

2016	3	4	7	36.6	1.00	0

2016	3	4	8	34.2	1.00	0

2016	3	4	9	35.0	1.00	0

2016	3	4	10	30.0	1.00	0

2016	3	4	11	25.6	1.00	0

2016	3	4	12	32.1	1.00	0

2016	3	4	13	24.4	1.00	0

2016	3	4	14	32.8	1.00	0

In [44]:
show_text("PM2.5_kaggle 2021/Chanthaburi/Train/Chanthaburi.txt",10)

% City: Chanthaburi

% Region: Chanthaburi

% Population: 99819

% Longitude: 102.1045

% Year, Month, Day, UTC Hour, PM2.5, PM10_mask, Retrospective

2016	3	3	9	44.2	1.00	0

2016	3	3	11	44.2	1.00	0

2016	3	3	13	34.6	1.00	0

2016	3	3	15	31.6	1.00	0

2016	3	3	17	45.5	1.00	0

# Convert text to Dataframe

In [45]:
import numpy as np
import pandas as pd

In [174]:
def txt_to_df(fileName):
    f = open(fileName,"r")
    count = 0
    for line in f:
        tmp = line
        if count == 9:
            header = tmp[2:].split(", ")
            header[-1] = header[-1][:-1]
            df = pd.DataFrame(columns = header)
        elif count > 9:
            data = tmp.split()
            data_df = pd.DataFrame([data], columns = header)
            df = df.append(data_df)
        count += 1
    f.close()
    return df

In [175]:
df = txt_to_df("PM2.5_kaggle 2021/Bangkok/Train/Bangkok.txt")

In [177]:
df.head(20)

   Year Month Day UTC Hour PM2.5 PM10_mask Retrospective
0  2016     3   3        8  62.9      1.00             0
0  2016     3   3        9  62.9      1.00             0
0  2016     3   3       10  55.5      1.00             0
0  2016     3   3       11  55.5      1.00             0
0  2016     3   3       12  47.9      1.00             0
0  2016     3   3       13  43.6      1.00             0
0  2016     3   3       14  28.6      1.00             0
0  2016     3   3       15  33.6      1.00             0
0  2016     3   3       16  34.8      1.00             0
0  2016     3   3       17  31.3      1.00             0
0  2016     3   3       19  42.1      1.00             0
0  2016     3   3       20  38.6      1.00             0
0  2016     3   3       21  45.5      1.00             0
0  2016     3   3       22  49.9      1.00             0
0  2016     3   3       23  44.1      1.00             0
0  2016     3   4        0  42.1      1.00             0
0  2016     3   4        1  43.1      1.00             0
0  2016     3   4        2  44.8      1.00             0
0  2016     3   4        3  37.5      1.00             0
0  2016     3   4        4  39.6      1.00             0