In [191]:
%run -i main_functions.ipynb

In [195]:
cities = ["Bangkok","Chanthaburi","Chiang Mai","Kanchanaburi","Khon Kaen","Songkhla"]
paths = ["PM2.5_kaggle 2021/"+city+"/Train/"+"_".join(city.split(" "))+".txt" for city in cities]

for city,path in zip(cities, paths):
    start = time()
    info_df,df = pm_data(path)

    info_df.to_csv("raw_pm2.5_df/"+city+"_info.csv", index = False, encoding = "UTF-8")
    df.to_csv("raw_pm2.5_df/"+city+".csv", index = False, encoding = "UTF-8")
    end = time()
    elapsed_time = str(end-start)
    print(city + " Finish")
    print("Elapsed time = " + elapsed_time)

Bangkok Finish
Elapsed time = 0.4356963634490967
Chanthaburi Finish
Elapsed time = 0.5180263519287109
Chiang Mai Finish
Elapsed time = 0.7441811561584473
Kanchanaburi Finish
Elapsed time = 0.46473169326782227
Khon Kaen Finish
Elapsed time = 0.30422282218933105
Songkhla Finish
Elapsed time = 0.4662928581237793

In [185]:
info_df,df = pm_data(cities[3])
df

,datetime,Year,Month,Day,UTC Hour,PM2.5,PM10_mask,Retrospective
0,2016-03-03 15:00:00,2016,3,3,8,65.2,1.00,0
1,2016-03-03 16:00:00,2016,3,3,9,65.2,1.00,0
2,2016-03-03 17:00:00,2016,3,3,10,64.9,1.00,0
3,2016-03-03 18:00:00,2016,3,3,11,64.9,1.00,0
4,2016-03-03 19:00:00,2016,3,3,12,38.4,1.00,0
...,...,...,...,...,...,...,...,...
24381,2019-03-18 02:00:00,2019,3,17,19,40.5,0.00,0
24382,2019-03-18 03:00:00,2019,3,17,20,43.2,0.00,0
24383,2019-03-18 04:00:00,2019,3,17,21,46.9,0.00,0
24384,2019-03-18 05:00:00,2019,3,17,22,46.3,0.00,0
24385,2019-03-18 06:00:00,2019,3,17,23,48.3,0.00,0

In [176]:
#info = {k:v for line in info for k,v in line.split(": ")}
#info = {k[0]:k[1] for line in info for k in line.split(": ")}
#info = {[0]:[1] for line in info }

#info = dict(i.split(": ") for i in info)

conv = lambda x: (x[0].replace("% ",""), [x[1]])
info = dict(conv(i.split(': ')) for i in info)

In [177]:
info_df = pd.DataFrame.from_dict(info)
info_df

,Country,City,City (ASCII),Region,Region (ASCII),Population,Latitude,Longitude,Time Zone
0,Thailand,Kanchanaburi,Kanchanaburi,Kanchanaburi,Kanchanaburi,63699,14.0041,99.5483,Asia/Bangkok

In [178]:
info_df.to_csv("df_info.csv", index = False, encoding = "UTF-8")

In [180]:
test_info_df = pd.read_csv("df_info.csv")
test_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         1 non-null      object
 1   City            1 non-null      object
 2   City (ASCII)    1 non-null      object
 3   Region          1 non-null      object
 4   Region (ASCII)  1 non-null      object
 5   Population      1 non-null      int64
 6   Latitude        1 non-null      float64
 7   Longitude       1 non-null      float64
 8   Time Zone       1 non-null      object
dtypes: float64(2), int64(1), object(6)
memory usage: 200.0+ bytes

In [132]:
line = info[0]
line.split(":")
a = [[1,2],[3,4],[5,6]]
b = {k:v for t in a for k,v in t}

TypeError: cannot unpack non-iterable int object

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24386 entries, 0 to 24385
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           24386 non-null  object
 1   Month          24386 non-null  object
 2   Day            24386 non-null  object
 3   UTC Hour       24386 non-null  object
 4   PM2.5          24386 non-null  object
 5   PM10_mask      24386 non-null  object
 6   Retrospective  24386 non-null  object
dtypes: object(7)
memory usage: 1.3+ MB

In [105]:
pd.to_datetime(df[['Year', 'Month', 'Day','UTC Hour']])

ValueError: extra keys have been passed to the datetime assemblage: [UTC Hour]

In [111]:
pd.to_datetime(dict(year = df.Year, month =df.Month, day = df.Day, hour = df["UTC Hour"]))

0       2016-03-03 08:00:00
1       2016-03-03 09:00:00
2       2016-03-03 10:00:00
3       2016-03-03 11:00:00
4       2016-03-03 12:00:00
                ...
24381   2019-03-17 19:00:00
24382   2019-03-17 20:00:00
24383   2019-03-17 21:00:00
24384   2019-03-17 22:00:00
24385   2019-03-17 23:00:00
Length: 24386, dtype: datetime64[ns]

0        2016
1        2016
2        2016
3        2016
4        2016
         ...
24381    2019
24382    2019
24383    2019
24384    2019
24385    2019
Name: Year, Length: 24386, dtype: object

In [71]:

info,columns,data = pm_data(cities[3])
# i = 0

# for d in data:
#     if  i == 10:
#         break
#     #d = d.split("\t")
#     d[3] = int(d[3])+7
#     print(d)
#     i+=1

# i=0
# print("\n")
# while(i<10):
#     print(data[i])
#     i+=1

In [53]:
data[0]

'2016\t3\t3\t8\t44.2\t1.00\t0'